{% extends "auth_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block MAIN_CONTENT %}

<h1>Войдите в аккаунт</h1>
    {% if form.errors %}
        <p>
            Неправильный логин и/или пароль. Повторите попытку
        </p>
    {% else %}
        <p></p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form|crispy }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <button type="submit" value="Log-in" class="btn btn-success">Войти</button>
            <p></p>
            <p>Если у вас ещё нет аккаунта, вы можете <a href="{% url "accounts:register" %}">зарегистрироваться</a></p>
        </form>
    </div>
{% endblock MAIN_CONTENT %}