#about {
    background-color: rgba(255, 252, 248, 0.87);
    width: 70cap;
    margin-left: 0%;
  }

#profile {
    margin-bottom: 3%;
    padding-bottom: 3%;
    background-color: rgba(255, 252, 248, 0.87);
  }

.about {
  margin-bottom: 3%;
  padding-bottom: 3%;
  background-color: rgba(255, 252, 248, 0.87);
}