{% extends "base.html" %}
{% block MAIN_CONTENT %}
{% comment %} {% if  perms.refs.add_author %} {% endcomment %}
<a href="{% url "references:author-create" %}"><button class="btn btn-warning">Добавить автора</button></a><br>
{% comment %} {% endif %} {% endcomment %}
        <table class="table table-hover" border="1">
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th colspan="3">Действия</th>
            </tr>
            {% for obj in object_list %}
            <tr>
                <td>{{obj.id}}</td>
                <td>{{obj.name}}</td>
                <td class="link">
                    <a href="{% url "references:author-detail" obj.id %}"><button class="btn btn-success"><i class="bi bi-eye"></i></button></a>
                </td>
                {% if  perms.refs.change_author %}
                <td class="link">
                    <a href="{% url "references:author-update" obj.id %}"><button class="btn btn-warning"><i class="bi bi-pencil-square"></i></button></a>
                </td>
                {% endif %}
                {% if  perms.refs.delete_author %}
                <td class="link">
                    <a href="{% url "references:author-delete" obj.id %}"><button class="btn btn-danger"><i class="bi bi-trash"></i></button></a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
{% endblock %}