{% extends "auth_base.html" %}
{% load crispy_forms_tags %}

{% block MAIN_CONTENT %}

<h1>Log-in</h1>
    {% if form.errors %}
        <p>
            Неправильный логин и/или пароль. Повторите попытку
        </p>
    {% else %}
        <p></p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <button type="submit" value="Log-in">Войти</button>
        </form>
    </div>
{% endblock MAIN_CONTENT %}